---
---

@import "{{ site.theme }}";

.site-header {
  background-color: #0064ab;
  border-top: 0px;
}

.site-title, .site-title:visited {
  color: #ffffff;
}

.post-link {
  font-size: 42px;
}

.post-list li {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 15px;
  padding-top: 15px;
}
